 body
 {
    width: 80%; /* Set a fixed width for the body element */ 
margin: 0 auto;
text-align: center;
}

input{
    width:200px;
    height: auto;
    margin: 20px;
}

#weight,#height{
border:3px  solid black;

}

#button{
    color: rgb(17, 17, 15);
    border-color: black;
background-color: #c3e373;
height: 50px; /* Set the desired height */  
font-size: 20px; /* Optionally, adjust the font size to fit the new button size */}

h1{
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

p,label{
    font-family:  Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
}
#result{
    color:red;
}
